<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/@spectre-org/spectre-css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@spectre-org/spectre-css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@spectre-org/spectre-css/dist/spectre-icons.min.css">
	<title>Password Reset Link | Pokemon Market</title>
</head>
<body>
	<div class="container">
		<div class="columns">
			<div class="column p-centered">
				<h2>Change password link for PokeMarket</h2>
			</div>
			<div class="column">
				<p> Dear {{user.username}}</p>
				<p> To reset your password please click on below button </p>
				<button class="btn btn-success my-2">
					<a href="{{ url_for("auth.update_password", token=token, _external=True) }}">Reset Password</a>
				</button>
				<p>Alternatively, you can paste the following link in your browser's address bar:</p>
				<p>{{ url_for('auth.update_password', token=token, _external=True) }}</p>
				<p>If you have not requested a password reset simply ignore this message.</p>
				<p>Sincerely,</p>
				<p>PokeMarket Team. :)</p>
		</div>
	</div>	
</body>
</html>
