{% from 'macros/form.html' import render_field %}
{% extends 'base.html' %}
{% if title is defined %}
{% block head %}
<title>{{ title }} | Pokemon Market</title>
{% endblock %}
{% endif %}
{% block body %}
<div class="hero bg-gray my-2">
	<div class="hero-body p-centered">
		<h1>The Pokemon Market.</h1>
		<p>Welcome to the Pokemon Market, This is a place where you can buy Pokemons you like.</p>
		<p class="text-small">This is an open source application you can find its source @itsDrac/PokeMarket
			<span class="text-tiny">If you dont find your pokemon feel free to add a Isuue in github</span>
			<span class="text-tiny text-muted">visit terms page <a href="{{ url_for('main.terms') }}">here</a></span>
		</p>
	</div>
</div>
<div class="container">
	<div class="filter columns my-2">
		<input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
		<input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-4" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-5" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-6" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-7" class="filter-tag" name="filter-radio" hidden>
		<input type="radio" id="tag-8" class="filter-tag" name="filter-radio" hidden>
		<div class="filter-nav column col-sm-12 col-2">
			<label class="chip" for="tag-0">All generation</label>
			<label class="chip" for="tag-1">Gen-1</label>
			<label class="chip" for="tag-2">Gen-2</label>
			<label class="chip" for="tag-3">Gen-3</label>
			<label class="chip" for="tag-4">Gen-4</label>
			<label class="chip" for="tag-5">Gen-5</label>
			<label class="chip" for="tag-6">Gen-6</label>
			<label class="chip" for="tag-7">Gen-7</label>
			<label class="chip" for="tag-8">Gen-8</label>
			<ul class="pagination">
				<li class="page-item {% if current_page == 1 %}disabled{% endif %}">
					<a href="{{ url_for('main.home', current_page=current_page-1) }}">Prev</a>
				</li>
				<li class="page-item active">
					<a href="{{ url_for('main.home', current_page=current_page+1) }}">Next</a>
				</li>
			</ul>
		</div>
		<div class="filter-body column col-sm-12 col-10 p-centered">
			<div class="columns">
				{% for pokemon in pokemons %}
				<div class="filter-item column col-sm-12 col-4 my-1" data-tag="tag-{{ pokemon.generation }}">
					<div class="card">
						<div class="card-header">
							<div class="card-title h4">{{ pokemon.name }}</div>
							<div class="card-subtitle text-gray">Generation: {{ pokemon.generation }}</div>
						</div>
						<div class="card-body">
							<img src="{{ pokemon.imgUrl }}" class="img-fit-contain column">
							<div class="divider"></div>
							<p class="text-normal">{{ pokemon.desc|truncate(100, True, "~~~") }}</p>
							{% for category in pokemon.categories %}
							<span class="chip px-2">{{ category.name }}</span>
							{% endfor %}
							<p class="text-bold mt-2">Price: ₹{{ pokemon.price }}</p>
						</div>
						<div class="card-footer">
							<a class="btn btn-success px-2 my-1" href="{{ url_for('main.checkout', p_id=pokemon._id)  }}">Buy now</a>
							<!-- TODO: Only view this button if user is active and pokemon is not in any cart of user -->
							{% if current_user.is_authenticated %}
								{% if not current_user.has_pokemon(pokemon._id) %}
							<button hx-put="{{ url_for('user.add_to_cart', pokemon_id=pokemon._id) }}" hx-swap="delete" class="btn px-2 my-1">Add to cart</button>
								{% else %}
								<span class="text-muted mx-2">Allready added in <a href="{{ url_for('user.cart') }}">cart</a></span>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
