{% from 'macros/form.html' import render_field %}
{% extends 'base.html' %}
{% if title is defined %}
{% block head %}
<title>{{ title }} | Pokemon Market</title>
{% endblock %}
{% endif %}
{% block body %}
<div class="container">
	<div class="columns">
		<div class="column col-sm-10 col-lg-8 col-6 p-centered">
			<h2>Register Form</h2>
			<form class="form-group" method="POST">
				{{ form.hidden_tag() }}
				{{ form.name.label(class_="form-label") }}
				{{ render_field(form.name, class_="form-input", placeholder="Jeff Doe") }}
				{{ form.email.label(class_="form-label") }}
				{{ render_field(form.email, class_="form-input", placeholder="example@gmail.com") }}
				{{ form.password.label(class_="form-label") }}
				{{ render_field(form.password, class_="form-input", placeholder="you'll never know") }}
				{{ form.confirm.label(class_="form-label") }}
				{{ render_field(form.confirm, class_="form-input", placeholder="you'll never know") }}
				{{ render_field(form.submit, class_="btn btn-success btn-lg input-group-btn my-2") }}
			</form>
			<p class="text-small"><a href="{{ url_for('auth.login') }}">Click here</a> to Login into your account.</p>
		</div>
	</div>
</div>
{% endblock body %}
