{% from 'macros/form.html' import render_field %}
{% extends 'base.html' %}
{% if title is defined %}
{% block head %}
<title>{{ title }} | Pokemon Market</title>
{% endblock %}
{% endif %}
{% block body %}
<div class="container">
	<div class="columns">
		<div class="column col-sm-10 col-lg-8 col-6 p-centered">
			<h2>Update password form</h2>
			<form class="form-group" method="POST">
				{{ form.hidden_tag() }}
				{{ form.password.label(class_="form-label") }}
				{{ render_field(form.password, class_="form-input", placeholder="Do not forget this") }}
				{{ form.confirm.label(class_="form-label") }}
				{{ render_field(form.confirm, class_="form-input", placeholder="Do not forget this") }}
				{{ render_field(form.submit, class_="btn btn-success btn-lg input-group-btn my-2") }}
			</form>
		</div>
	</div>
</div>
{% endblock body %}
