<div class="container my-2">
	<div class="columns">
		<div class="column col-sm-10 col-lg-8 col-6 p-centered">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
				<div id="toast-{{ loop.index }}" class="toast toast-{{category}}">
						<span>
							{{ message | safe}}
							<button class="btn btn-clear float-right" hx-delete="{{ url_for('main.return_null') }}" hx-swap="delete" hx-target="#toast-{{ loop.index }}"></button>
						</span>
					</div>
				{% endfor %}
			{% endwith %}
		</div>
	</div>
</div>

