<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/@spectre-org/spectre-css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@spectre-org/spectre-css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@spectre-org/spectre-css/dist/spectre-icons.min.css">{% block head %}
	<title>Pokemon Market | Buy Pokemon | Show all Pokemon</title>
	{% endblock head %}
</head>
<body>
	<header class="navbar mt-2 bg-gray py-1">
		<section class="navbar-section">
			<a href="#" class="btn btn-link">Docs</a>
			<a href="#" class="btn btn-link">Examples</a>
		</section>
		<section class="navbar-center">
		<!-- centered logo or brand -->
		<a href="{{ url_for('main.home') }}">
			<i class="icon icon-shutdown icon-2x"></i>
		</a>
		</section>
		<section class="navbar-section">
			<a href="{{ url_for('auth.login') }}" class="btn btn-link">Login</a>
			<a href="{{ url_for('auth.signup') }}" class="btn btn-link">Signup</a>
		</section>
	</header>
	{% include "includes/message.html" ignore missing with context %}
	{% block body %}
	{% endblock body %}
</body>
</html>
