{% extends 'base.html' %}
{% if title is defined %}
{% block head %}
<title>{{ title }} | Pokemon Market</title>
{% endblock %}
{% endif %}
{% block body %}
<div class="container grid-md">
	<h2 class="h2 text-centered">Privacy Policy and Terms of Service.</h2>
	<h3 class=h3>Introduction</h3>
	<p>Welcome to PokeMarket site and PokeMarket Terms page. PokeMarket an open sourced project, where you can browse the added pokemons. Users of PokeMarket can create an account by using there email address, and add any of the listed pokemons to the carts.</p>
	<h3 class=h3>Is PokeMarket selling pokemons?</h3>
	<p>No, PokeMarket is not a place where you are using money to buy pokemons, when you "buy" pokemon in PokeMarket is simply move that pokemon copy to one of your cart named "ordered".</p>
	<p>You can simply think the amount you spend as a donation to repository maintainer.</p>
	<h3 class=h3>Your public information</h3>
	<p>PokeMarket is a public platform, anyone from anywhere can create an account and browse the added pokemons.</p>
	<h3 class=h3>Your private information</h3>
	<p>PokeMarket does not store your private information, We only store your email address for identification</p>
	<h3 class=h3>Shipping Policy</h3>
	<p>As told PokeMarket is not selling any product, it is simply moving items from your cart to "ordered" cart linked with your account.</p>
	<p>However due to technical challenges this could take 3 business day to update, we appreciate your wait with us.</p>
	<h3 class=h3>Refunds</h3>
	<p>PokeMarket users have full right to request for refunds for the payment they have done. We won't put any unfair practices to prevent users for requesting for refund. However, due to technical challenges, we won't be able to provide refund for services</p>
	<p>To request for refund please create a new issue in issues section on PokeMarket repository in github.</p>
	<p>It may take update 7-10 number of working day to process the refund and credit the amount to the user's bank account.</p>
	<p>Note: Please make a note that refund request are only accepted till 7th day since payment(Including non business day).</p>
	<ul>
		<li>Razor pay payment id</li>
		<li>Your email address</li>
		<li>Your phone number</li>
		<li>Date and time when payment was made</li>
	</ul>
	<p>Note: PokeMarket can not a sure you that full amount will be refunded, ideally only the razor pay fee would be deducted</p>
	<h3 class="h3">Terms of Service</h3>
	<p>You must be at least 13 years old to use PokeMarket. PokeMarket reserves the right to suspend any user account without further notice.</p>
	<h3 class="h3">PokeMarket Uses</h3>
	<ul>
		<li>Flask - A backend framework.</li>
		<li>spector css - for UI and styling.</li>
		<li>Github - for authentication and storing proprietary code.</li>
		<li>AWS - for deploying our service.</li>
		<li>Razorpay - for handling payment.</li>
	</ul>
	<h3 class="h3">Contact Us</h3>
	<p>If you have further queries, feel free to reach out via the following:</p>
	<p><span class="text-bold">Email: </span>gpt.sahaj28@gmail.com</p>
	<p><span class="text-bold">X: </span>@itsSahaj</p>
	<p><span class="text-bold">WhatsApp: </span>+91 9140365412</p>
	<p><span class="text-bold">Address: </span>U7/23 U Block DLF phase 3 Sector 24 Gurgaon 122002 India.</p>
</div>
{% endblock %}
